    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Do+Hyeon|Noto+Serif+KR&display=swap&subset=korean">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean">
    <link rel="stylesheet" href="{{ assets }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ assets }}/css/highlights/androidstudio.css">
    <link rel="stylesheet" href="{{ assets }}/css/style.css">
