{% if page.title %}
{% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
{% capture title %}{{ site.title }}{% endcapture %}
{% endif %}
{% if page.url %}
{% capture url_path %}{{ site.url }}{{ page.url }}{% endcapture %}
{% else %}
{% capture url_path %}{{ site.url }}{% endcapture %}
{% endif %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="author" content="{{ site.author.name }}">
<meta name="description" content="{{ site.description }}">
<meta name="google" content="notranslate">
<meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
<meta name="theme-color" content="{{ site.theme }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.logo }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url_path }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.logo }}">
<title>{{ title }}</title>
