:root {
    --font-body: "Pretendard", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-heading: "Paperlogy", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

/* 포스트 스타일 */
.post {
    word-break: keep-all;
    overflow-wrap: anywhere;
    text-wrap: pretty;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.post :where(img, video, audio, picture) {
  max-width: 100%!important;
  height: auto;
  border-radius: 8px;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}