:root {
    --font-body: "Pretendard", Tossface, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-heading: "Paperlogy", Tossface, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-code: "JetBrains Mono", Tossface, "Fira Code", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.font-pretendard {
    font-family: var(--font-body);
    font-feature-settings: 
        "calt" 1, 
        "case" 1, 
        "comp" 1, 
        "salt" 1, 
        "tnum" 1, 
        "zero" 1, 
        "ss01" 1, 
        "ss02" 1, 
        "ss03" 1, 
        "ss04" 1, 
        "ss05" 1, 
        "ss06" 1, 
        "ss07" 1, 
        "ss08" 1, 
        "ss09" 1, 
        "ss10" 1;
}
.font-paperlogy {
    font-family: var(--font-heading);
}
.font-jetbrains-mono {
    font-family: var(--font-code);
    font-feature-settings: "liga" 1;
}

code {
    font-family: var(--font-code);
    font-feature-settings: "liga" 1;
}

body {
    font-family: var(--font-body);
    font-feature-settings: 
        "calt" 1, 
        "case" 1, 
        "comp" 1, 
        "salt" 1, 
        "tnum" 1, 
        "zero" 1, 
        "ss01" 1, 
        "ss02" 1, 
        "ss03" 1, 
        "ss04" 1, 
        "ss05" 1, 
        "ss06" 1, 
        "ss07" 1, 
        "ss08" 1, 
        "ss09" 1, 
        "ss10" 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

/* 포스트 스타일 */
.post {
    word-break: keep-all;
    overflow-wrap: anywhere;
    text-wrap: pretty;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.post :is(img, video, audio, picture) {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}